<?xml version='1.0' encoding='utf-8'?>
<widget id="com.qstcardo.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>QSTCardo</name>
    <description>Created by Abha singh (abhasingh.02@gmail.com)</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="about:*" />
    <platform name="android">
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application/activity[@android:name='MainActivity']">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                <data android:mimeType="application/vnd.ms-excel" />
                <data android:pathPattern=".*\\.xlsx" />
                <data android:pathPattern=".*\\.xls" />
            </intent-filter>
        </edit-config>
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/icon/icon.png" />
        <preference name="AndroidWindowSplashScreenBackground" value="#FFFFFF" />
    </platform>
    <platform name="ios">
        <icon height="1024" src="res/icon/icon.png" width="1024" />
    </platform>
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenDelay" value="2000" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <plugin name="cordova-plugin-fingerprint-aio" spec="^5.0.0" />
</widget>
